mat-card>mat-card-content mat-card {
    margin: 2rem;
}

mat-form-field {
    margin-right: 1rem;
}

.charts-container mat-card-header mat-card-title h3 {
    display: flex;
    align-items: center;
}

.charts-container mat-card-header mat-card-title h3 mat-progress-spinner {
    margin-left: 1rem;
}

#properties,
#secrets,
#alphabet-container,
#send-form,
#receive-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 40rem;
}

.charts-container {
    min-height: 20rem;
}

#alphabet-container {
    min-height: 30rem;
}

#alphabet-textarea {
    border: 0;
}

#properties>*,
#secrets>*,
#alphabet-container>*,
#send-form>*,
#receive-form>* {
    flex: 1 0 37%;
    max-width: 37%;
}

#predefined-curves {
    margin: 2rem 0;
}

.charts-container,
#alphabet-textarea,
#encrypted-message,
#decryption-form {
    flex: 1 0 53% !important;
    max-width: 53% !important;
    justify-content: space-between;
}

.charts-container>mat-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvas {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#alphabet-textarea,
#decrypted-message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#alphabet-textarea>*>*,
#decrypted-message>*>* {
    width: 100%;
}

.mat-form-field-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
}

.party,
.party-keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
}

.party span {
    margin-right: 1rem;
}

.party-title {
    font-weight: bold;
}

.party mat-form-field {
    margin-top: 1rem;
}

#select-alphabet {
    display: flex;
    flex-direction: column;
}

#select-alphabet>* {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

#send-form mat-card-content,
#receive-form mat-card-content {
    display: flex;
    flex-direction: column;
}

#send-form mat-card-content,
#receive-form mat-card-content {
    flex-grow: 1;
}

#send-form mat-card-content>*>*,
#receive-form mat-card-content>*>* {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    width: 100%;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
    justify-content: center !important;
    text-align: center !important;
}

#decryption_keys {
    margin-top: 2rem;
    padding: 0 25%;
}

@media screen and (max-width: 640px) {
    mat-card-title h1 {
        font-size: 2.5rem;
    }

    mat-card-title h2 {
        font-size: 1.8rem;
    }

    mat-card-title h3 {
        font-size: 1.5rem;
    }

    mat-card {
        margin: 0.75rem 0.5rem !important;
    }

    mat-card mat-card-content {
        padding: 0.5rem !important;
    }

    .charts-container {
        height: 25rem;
    }

    #options mat-button-toggle-group {
        border-radius: 0.5rem;
    }
}

@media screen and (max-width: 1000px) {

    #properties,
    #secrets,
    #alphabet-container,
    #send-form,
    #receive-form {
        flex-direction: column;
    }

    #properties>*,
    #secrets>*,
    #alphabet-container>*,
    #send-form>*,
    #receive-form>* {
        flex: 1 0 100% !important;
        max-width: 100% !important;
    }

    #predefined-curves {
        margin: 2rem 0;
    }

    .charts-container,
    #alphabet-textarea,
    #encrypted-message,
    #decryption-form {
        justify-content: space-between;
    }

}

@media screen and (max-width: 1300px) {
    #alphabet-container {
        flex-direction: column;
    }

    #alphabet-container>* {
        flex: 1 0 100% !important;
        max-width: 100% !important;
    }
}
