<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>ECC Simulation</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div id="properties">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2>Properties</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="curveForm">
                        <div id="predefined-curves" class="mat-form-field-container">
                            <label>Predefined Curves</label>
                            <div>
                                <ng-container *ngIf="curves_data">
                                    <button mat-button *ngFor="let curve of curves_data | keyvalue"
                                        (click)="loadCurveData(curve.key)">{{curve.key}}</button>
                                </ng-container>
                            </div>
                        </div>
                        <div>
                            <strong>Elliptic Curve: y² = x³ + ax + b</strong>
                        </div>
                        <div class="mat-form-field-container">
                            <mat-form-field>
                                <input matInput type="number" formControlName="a" [placeholder]="'a'">
                            </mat-form-field>
                        </div>
                        <div class="mat-form-field-container">
                            <mat-form-field>
                                <mat-label>b</mat-label>
                                <input matInput type="number" formControlName="b" [placeholder]="'b'">
                            </mat-form-field>
                        </div>
                        <div class="mat-form-field-container">
                            <label for="field">Prime Field</label>
                            <mat-form-field>
                                <input matInput type="text" formControlName="field" id="field"
                                    [placeholder]="'2, 3, 4, 7...'">
                                <mat-error *ngIf="curveForm.get('field')?.hasError('primeError')">
                                    The field value must be a prime number.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </form>
                    <form [formGroup]="baseForm">
                        <div class="mat-form-field-container">
                            <label>Base Point</label>
                            <mat-form-field>
                                <mat-select formControlName="base">
                                    <mat-option *ngFor="let point of points" [value]="point">{{point}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="charts-container">
                <mat-card-header>
                    <mat-card-title>
                        <h3>ECC Simulation<mat-progress-spinner *ngIf="loading_curve" mode="indeterminate"
                                [diameter]="30"></mat-progress-spinner></h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="canvas">
                        <canvas #Curve></canvas>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div id="secrets">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2>Secrets</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="secretsForm" class="mat-form-field-container">
                        <mat-form-field>
                            <mat-label>Participants</mat-label>
                            <input matInput formControlName="num_parties" type="number" id="num_parties"
                                placeholder="2-4" min="2" max="4">
                            <mat-error>
                                Numbers of Participants must be 2-4
                            </mat-error>
                        </mat-form-field>
                        <div formArrayName="partyDetails">
                            <div *ngFor="let party of partyDetails.controls; let i = index" [formGroupName]="i"
                                class="party">
                                <span class="party-title">Party {{ i + 1 }}</span>
                                <div class="party-keys">
                                    <mat-form-field>
                                        <input matInput formControlName="private_key" placeholder="Private Key">
                                        <mat-error
                                            *ngIf="party.get('private_key')?.invalid && party.get('private_key')?.touched">
                                            Private Key is required and must be a positive number.
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput formControlName="public_key" placeholder="Public Key">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <mat-form-field *ngIf="secretsForm.get('num_parties')?.valid">
                            <mat-label>Shared Key</mat-label>
                            <input matInput formControlName="shared" type="text" id="shared" placeholder="x, y">
                        </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="charts-container">
                <mat-card-header>
                    <mat-card-title>
                        <h3>Points on Curve<mat-progress-spinner *ngIf="loading_points" mode="indeterminate"
                                [diameter]="30"></mat-progress-spinner></h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="canvas">
                        <canvas #Points></canvas>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div id="alphabet-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3>Choose alphabet</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content id="select-alphabet">
                    <div>
                        <div>
                            <mat-button-toggle-group aria-label="Choose Category"
                                [formControl]="selectedCategoryControl" [hideSingleSelectionIndicator]="true">
                                <mat-button-toggle value="alphabet">Alphabet</mat-button-toggle>
                                <mat-button-toggle value="numeric">Number System</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <div *ngIf="selectedCategoryControl.value === 'alphabet'">
                        <mat-label>Predefined Alphabets</mat-label>
                        <mat-form-field>
                            <mat-select aria-label="Alphabets">
                                <mat-option *ngFor="let lang of languages | keyvalue" [value]="lang.key"
                                    (click)="setAlphabet(lang.key)" (keypress)="setAlphabet(lang.key)">
                                    {{lang.key.replace('_', ' ')}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="selectedCategoryControl.value === 'alphabet'" id="options">
                        <mat-label>Options</mat-label>
                        <div>
                            <mat-button-toggle-group aria-label="Options" [hideSingleSelectionIndicator]="true"
                                [vertical]="isVertical">
                                <mat-button-toggle *ngFor="let option of options | keyvalue" value="{{option.key}}"
                                    (click)="setOption(option.key)" (keypress)="setOption(option.key)">
                                    {{option.key.replace('_', ' ')}}
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <div *ngIf="selectedCategoryControl.value === 'numeric'">
                        <mat-label>Predefined Number Systems</mat-label>
                        <mat-form-field>
                            <mat-select aria-label="Number Systems">
                                <mat-option *ngFor="let system of numericSystems | keyvalue" [value]="system.key"
                                    (click)="setAlphabet(system.key)" (keypress)="setAlphabet(system.key)">
                                    {{system.key.replace('_', ' ')}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card id="alphabet-textarea">
                <mat-card-header>
                    <mat-card-title>
                        <h3>...or write your own!</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field appearance="outline" id="alphabet">
                        <mat-label>Define the Alphabet</mat-label>
                        <textarea #Alphabet matInput rows="10"></textarea>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>

        <form [formGroup]="sendForm" id="send-form">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2>Sending messages</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <mat-form-field>
                            <mat-label>Sender</mat-label>
                            <mat-select formControlName="sender">
                                <mat-option *ngFor="let party of partyDetails.controls; let i = index" [value]="i">
                                    Party {{ i + 1 }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Receivers</mat-label>
                            <mat-select formControlName="receivers">
                                <ng-container *ngFor="let party of partyDetails.controls; let i = index">
                                    <mat-option *ngIf="i !== sendForm.get('sender')?.value" [value]="i">
                                        Party {{ i + 1 }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <label>Remember to set-up alphabet first!</label>
                        <mat-form-field appearance="outline">
                            <mat-label>Introduce message</mat-label>
                            <textarea formControlName="message" matInput rows="8"></textarea>
                            <mat-error *ngIf="sendForm.get('message')?.hasError('customError')">
                                {{sendForm.controls['message'].getError('customError')}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card id="encrypted-message">
                <mat-card-header>
                    <mat-card-title>
                        <h3>Encrypted message</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <table mat-table [dataSource]="encryptionResults">
                        <ng-container matColumnDef="character">
                            <th mat-header-cell *matHeaderCellDef> Character </th>
                            <td mat-cell *matCellDef="let element"> {{ element.character }} </td>
                        </ng-container>
                        <ng-container matColumnDef="encoded">
                            <th mat-header-cell *matHeaderCellDef> Encoded <button
                                    (click)="copyValues('encoded')"><mat-icon>content_copy</mat-icon></button></th>
                            <td mat-cell *matCellDef="let element"> {{ element.encoded }} </td>
                        </ng-container>
                        <ng-container matColumnDef="encrypted">
                            <th mat-header-cell *matHeaderCellDef> Encrypted <button
                                    (click)="copyValues('encrypted')"><mat-icon>content_copy</mat-icon></button></th>
                            <td mat-cell *matCellDef="let element"> {{ element.encrypted }} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="['character', 'encoded', 'encrypted'];"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['character', 'encoded', 'encrypted'];">
                        </tr>
                    </table>
                    <table mat-table [dataSource]="decryption_keys" id="decryption_keys">
                        <ng-container matColumnDef="party">
                            <th mat-header-cell *matHeaderCellDef> Party </th>
                            <td mat-cell *matCellDef="let element"> {{ element.party + 1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="key">
                            <th mat-header-cell *matHeaderCellDef> Decryption Key </th>
                            <td mat-cell *matCellDef="let element"> {{ element.key }} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="['party', 'key'];"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['party', 'key'];"></tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </form>
        <form [formGroup]="receiveForm" id="receive-form">
            <mat-card id="decryption-form">
                <mat-card-header>
                    <mat-card-title>
                        <h2>Receiving messages</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <mat-form-field>
                            <mat-label>Private Key</mat-label>
                            <input matInput formControlName="private_key" type="text" (keyup)="getDecryptionResults()">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Decryption Key</mat-label>
                            <input matInput formControlName="decryption_key" type="text"
                                (keyup)="getDecryptionResults()">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Introduce encrypted message</mat-label>
                            <textarea formControlName="encrypted" matInput rows="8"
                                (keyup)="getDecryptionResults()"></textarea>
                            <mat-error *ngIf="receiveForm.get('encrypted')?.hasError('customError')">
                                {{receiveForm.controls['encrypted'].getError('customError')}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card id="decrypted-message">
                <mat-card-header>
                    <mat-card-title>
                        <h3>Decrypted message</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field appearance="outline">
                        <textarea formControlName="decrypted" matInput rows="15"></textarea>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </form>
    </mat-card-content>
</mat-card>
