:host {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: block;
    height: 100%;
    width: 100%;
}

html,
body,
app-root {
    margin: 0;
    padding: 0;
}
